/* CSS files add styling rules to your content */
#quiz {
  width: 50%;
}

.h1,
.h2 {
  font-weight: bold;
  margin-top: 25px
}

#questionsList {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#questionsList li {
  margin-bottom: 20px;
}

#questionsList li.error label{
  color: #ff0000;
}

#questionsList li span {
  font-weight: bold;
}

#questionsList input {
  margin-right: 10px;
}

